In [26]:
import pandas as pd

data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
           11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
           21, 22, 23, 24, 25],
    "Age": [45, 50, 30, 60, 52, 41, 35, 47, 38, 55,
            43, 48, 33, 59, 36, 51, 29, 57, 44, 49,
            37, 42, 56, 32, 54],
    "BMI": [28.5, 32.1, 25.4, 33.5, 27.8, 30.2, 24.1, 29.5, 26.3, 34.0,
            31.4, 28.9, 23.5, 35.2, 26.7, 32.8, 22.8, 34.5, 30.1, 29.0,
            25.8, 28.3, 33.7, 24.5, 34.2],
    "Glucose": [110, 140, 105, 145, 135, 120, 100, 125, 108, 150,
                115, 130, 98, 155, 112, 138, 95, 148, 118, 127,
                110, 120, 142, 102, 137],
    "Insulin": [80, 85, 75, 100, 95, 88, 78, 92, 82, 110,
                89, 97, 70, 115, 84, 101, 68, 108, 85, 93,
                81, 87, 105, 72, 98],
    "BloodPressure": [70, 72, 68, 80, 75, 74, 68, 78, 70, 85,
                      72, 76, 65, 88, 73, 79, 62, 86, 74, 77,
                      71, 75, 83, 67, 81],
    "Outcome": [0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
                0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
                0, 1, 1, 0, 1]
}

df = pd.DataFrame(data)
output_path = "C:/Users/Tinati/Desktop/koggel/diabetes_data.csv"
df.to_csv(output_path, index=False)
pd.read_csv('diabetes_data.csv').head()

   ID  Age   BMI  Glucose  Insulin  BloodPressure  Outcome
0   1   45  28.5      110       80             70        0
1   2   50  32.1      140       85             72        1
2   3   30  25.4      105       75             68        0
3   4   60  33.5      145      100             80        1
4   5   52  27.8      135       95             75        0

In [27]:
df['Outcome'].value_counts()

Outcome
1    13
0    12
Name: count, dtype: int64

In [28]:
DiabetesData_result = 'Outcome'
DiabetesData = df.drop('Outcome', axis=1)

DiabetesData.head()

   ID  Age   BMI  Glucose  Insulin  BloodPressure
0   1   45  28.5      110       80             70
1   2   50  32.1      140       85             72
2   3   30  25.4      105       75             68
3   4   60  33.5      145      100             80
4   5   52  27.8      135       95             75

In [29]:
DiabetesData = np.array(DiabetesData)
DiabetesData

array([[  1. ,  45. ,  28.5, 110. ,  80. ,  70. ],
       [  2. ,  50. ,  32.1, 140. ,  85. ,  72. ],
       [  3. ,  30. ,  25.4, 105. ,  75. ,  68. ],
       [  4. ,  60. ,  33.5, 145. , 100. ,  80. ],
       [  5. ,  52. ,  27.8, 135. ,  95. ,  75. ],
       [  6. ,  41. ,  30.2, 120. ,  88. ,  74. ],
       [  7. ,  35. ,  24.1, 100. ,  78. ,  68. ],
       [  8. ,  47. ,  29.5, 125. ,  92. ,  78. ],
       [  9. ,  38. ,  26.3, 108. ,  82. ,  70. ],
       [ 10. ,  55. ,  34. , 150. , 110. ,  85. ],
       [ 11. ,  43. ,  31.4, 115. ,  89. ,  72. ],
       [ 12. ,  48. ,  28.9, 130. ,  97. ,  76. ],
       [ 13. ,  33. ,  23.5,  98. ,  70. ,  65. ],
       [ 14. ,  59. ,  35.2, 155. , 115. ,  88. ],
       [ 15. ,  36. ,  26.7, 112. ,  84. ,  73. ],
       [ 16. ,  51. ,  32.8, 138. , 101. ,  79. ],
       [ 17. ,  29. ,  22.8,  95. ,  68. ,  62. ],
       [ 18. ,  57. ,  34.5, 148. , 108. ,  86. ],
       [ 19. ,  44. ,  30.1, 118. ,  85. ,  74. ],
       [ 20. ,  49. ,  29. , 127. ,  93. ,  77. ],
       [ 21. ,  37. ,  25.8, 110. ,  81. ,  71. ],
       [ 22. ,  42. ,  28.3, 120. ,  87. ,  75. ],
       [ 23. ,  56. ,  33.7, 142. , 105. ,  83. ],
       [ 24. ,  32. ,  24.5, 102. ,  72. ,  67. ],
       [ 25. ,  54. ,  34.2, 137. ,  98. ,  81. ]])

In [30]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

scalerdata = StandardScaler()
DiabetesData = scalerdata.fit_transform(DiabetesData)
DiabetesData

array([[-1.66410059,  0.00867959, -0.21881582, -0.76672892, -0.7659269 ,
        -0.72944388],
       [-1.52542554,  0.55115382,  0.75130357,  0.94982836, -0.36365437,
        -0.42295485],
       [-1.38675049, -1.6187431 , -1.05419641, -1.0528218 , -1.16819944,
        -1.03593291],
       [-1.24807544,  1.63610227,  1.12857223,  1.23592124,  0.84316323,
         0.80300125],
       [-1.10940039,  0.76814351, -0.40745014,  0.66373548,  0.4408907 ,
         0.03677868],
       [-0.97072534, -0.42529979,  0.23929612, -0.19454316, -0.12229085,
        -0.11646583],
       [-0.83205029, -1.07626887, -1.4045173 , -1.33891468, -0.92683592,
        -1.03593291],
       [-0.69337525,  0.22566928,  0.05066179,  0.09154972,  0.19952718,
         0.49651222],
       [-0.5547002 , -0.75078433, -0.81166656, -0.88116607, -0.60501789,
        -0.72944388],
       [-0.41602515,  1.09362804,  1.26331103,  1.52201412,  1.64770829,
         1.56922381],
       [-0.2773501 , -0.2083101 ,  0.56266925, -0.48063604, -0.04183634,
        -0.42295485],
       [-0.13867505,  0.33416412, -0.11102477,  0.3776426 ,  0.60179971,
         0.1900232 ],
       [ 0.        , -1.29325856, -1.56620386, -1.45335183, -1.57047197,
        -1.49566644],
       [ 0.13867505,  1.52760743,  1.58668416,  1.808107  ,  2.04998083,
         2.02895735],
       [ 0.2773501 , -0.96777402, -0.70387551, -0.65229177, -0.44410888,
        -0.26971034],
       [ 0.41602515,  0.65964866,  0.9399379 ,  0.83539121,  0.92361774,
         0.64975673],
       [ 0.5547002 , -1.72723794, -1.75483819, -1.62500756, -1.73138098,
        -1.95539998],
       [ 0.69337525,  1.31061774,  1.39804984,  1.40757697,  1.48679928,
         1.72246832],
       [ 0.83205029, -0.09981526,  0.21234836, -0.30898031, -0.36365437,
        -0.11646583],
       [ 0.97072534,  0.44265897, -0.08407701,  0.20598687,  0.27998168,
         0.34326771],
       [ 1.10940039, -0.85927918, -0.94640536, -0.76672892, -0.6854724 ,
        -0.57619937],
       [ 1.24807544, -0.31680495, -0.27271134, -0.19454316, -0.20274536,
         0.03677868],
       [ 1.38675049,  1.20212289,  1.18246775,  1.06426551,  1.24543576,
         1.26273478],
       [ 1.52542554, -1.40175341, -1.29672625, -1.22447752, -1.40956296,
        -1.18917742],
       [ 1.66410059,  0.9851332 ,  1.31720655,  0.77817263,  0.68225422,
         0.95624576]])